{% extends "base.html" %}
{% block title %} Home {% endblock title %}

{% block content %}
    <section class="section">
        <h1>Consignas terminadas: </h1>
        <p>
            1.a. Una página que muestre el listado con los apodos de los cinco usuarios con mayor
            cantidad de unidades vendidas en la categoría “Smartwatch”
            <code>(https://api.mercadolibre.com/categories/MLA352679)</code>
        </p>
        <p>
            1.b. Una página que muestre el listado con título, precio y permalinkn de las veinte
            publicaciones más caras de esa misma categoría
        </p>
        <p>
            2. Opcional, pero muy deseable: un botón o link para iniciar sesión con una cuenta de
            Mercado Libre (oAuth), y un botón o link para cerrar la sesión
        </p>

    </section>
{% endblock content %}
