{% extends "base.html" %}
{% load humanize %}

{% block title %}{% endblock title %}
{% block content %}
    <section class="section">
        <h1 class="title">Best Sellers User NickNames:</h1>
        {% for seller in sellers %}
            <article class="box has-background-warning-light">
                <h2 class="title">{{ seller.nickname }}</h2>
                <h3 class="subtitle">
                    Cantidad de transacciones completadas: {{ seller.transactions_completed | intcomma }}
                </h3>
            </article>
        {% endfor %}
    </section>
{% endblock content %}
